{% extends 'users/detail.html' %}

{% block user_details %}

<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages | sort(attribute='timestamp',reverse=True) %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
        </span>

        <!-- like / unlike icon -->
        {% if g.user.id != message.user.id %}
        <form method="POST" action="/messages/{{ message.id }}/like">
        {{ g.csrf_form.hidden_tag() }}
        <!-- # TODO: toggle fill/unfill  -->
        {% if message in g.user.liked_messages %}
        <button class="bi bi-star-fill messages-like-bottom"></button>
        {% else %}
        <button class="bi bi-star messages-like-bottom"></button>
        {% endif %}
        <!-- <input type="hidden" value="{{next}}" name="hidden_next"> -->
        </form>
        {% endif %}

        <p>{{ message.text }}</p>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>

{% endblock %}